.title__l {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.title__s {
  @extend .title__l;
  font-size: 30px;
}

.title--centered {
  text-align: center;
}

.title__container {
  @include flexCentered;
}

// Animation glitch
.title--glitch {
  position: relative;

  &::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(white, .9);
    @include absoluteCentered;
  }
}

.title--glitch-1 {
  &::before {
    width: 1px;
  }
}

.title--glitch-2 {
  &::before {
    width: .9em;
  }
}

.title--glitch-3 {
  &::before {
    display: none;
  }
}


